/* Set the body background image and styling */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('../../gallery/images/Resume/Resume.jpg'); /* Replace with your image file path */
    background-size: 100% 100%;
    background-position: center; /* Center the image */
    background-attachment: fixed; /* Keep the background fixed while scrolling */
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}
